{{!
    Template for page HTML.
}}<!DOCTYPE html>
<!--
    HTML for {{name}} page.
-->
<html ng:app="{{prefix}}.{{name}}Page">
<head ng:attr-lang="{{{lang}}}" ng:controller="HeadControl">

    <meta ok:replace="url(partials.META)">

    <title ng:bind="title(page)"></title>

    <link rel="icon" href="/favicon.png"/>

{{#each stylesheets}}    <link rel="stylesheet" href="/stylesheets/{{this}}"/>
{{/each}}

{{#each javascripts}}    <script src="/javascripts/{{this}}"></script>
{{/each}}
</head>
<body>
<div ng:include="partials.TRACK"></div>
<header ng:include="partials.HEADER" ng:controller="HeaderControl"></header>
<div ng:include="partials.TOAST"></div>
<main class="container" ng:controller="{{Name}}Ctrl">


</main>

<footer ng:include="partials.FOOTER" ng:controller="FooterControl"></footer>

</body>
</html>