<!DOCTYPE html>
<html ng-app="{{prefix}}.{{name}}Page">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" CONTENT="width=device-width, user-scalable=no"/>

    <link rel="icon" href="./images/favicon.png"/>

{{#each stylesheets}}    <link rel="stylesheet" href="/stylesheets/{{this}}"/>
{{/each}}

{{#each javascripts}}    <script src="/javascripts/{{this}}"></script>
{{/each}}

    <title>{{{title}}}</title>

</head>
<body>
<header ng-include="url(partials.HEADER)" ng-controller="HeaderControl"></header>
<main class="container" ng-controller="{{Name}}Ctrl">
</main>

<footer ng-include="url(partials.FOOTER)" ng-controller="FooterControl"></footer>

</body>
</html>