<!DOCTYPE html>
<html ng-app="{{prefix}}{{Name}}Page">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" CONTENT="width=device-width, user-scalable=no"/>

    <link rel="icon" href="./images/favicon.png"/>

{{#each stylesheets}}    <link rel="stylesheet" href="/stylesheets/{{this}}"/>
{{/each}}

{{#each javascripts}}    <script src="/javascripts/{{this}}"></script>
{{/each}}

    <title>{{{title}}}</title>

</head>
<body ng-controller="{{Name}}Ctrl">
<header ng-include="baseURL + partials.header"></header>

<main class="container">
</main>

<footer ng-include="baseURL + partials.footer"></footer>

</body>
</html>